// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// VARIABLES
$grid-columns: 12; // deixo ou não (?)

//breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 960px;
$break-xl: 1200px;
$break-hd: 1400px;

//container widths
$width-sm: 540px;
$width-md: 720px;
$width-lg: 960px;
$width-xl: 1140px;
$width-hd: 1320px;

//mobile firt media queries
$min-sm: 'min-width:' $break-sm;
$min-md: 'min-width:' $break-md;
$min-lg: 'min-width:' $break-lg;
$min-xl: 'min-width:' $break-xl;
$min-hd: 'min-width:' $break-hd;

//desktop first media queries (retirar do boilerplate e colocar na documentação)
$max-xs: 'max-width:' $break-xs - 1px;
$max-sm: 'max-width:' $break-sm - 1px;
$max-md: 'max-width:' $break-md - 1px;
$max-lg: 'max-width:' $break-lg - 1px;
$max-xl: 'max-width:' $break-xl - 1px;

// COLORS
$white: #fff;
$black: #000;

//FONTS
$primary-font: 'Roboto', Verdana, Ubuntu, 'sans-serif';